<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>251755402828-e9q0g3lu644ppfh308vk1k93hil2h4qa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.251755402828-e9q0g3lu644ppfh308vk1k93hil2h4qa</string>
	<key>API_KEY</key>
	<string>AIzaSyAOCI2fmTprOjAxbxhp3ttlQ1nfy77HPjk</string>
	<key>GCM_SENDER_ID</key>
	<string>251755402828</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blah.HabitTracker</string>
	<key>PROJECT_ID</key>
	<string>habit-tracker-99f3f</string>
	<key>STORAGE_BUCKET</key>
	<string>habit-tracker-99f3f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:251755402828:ios:03d7fdff91080bf0dcc6e9</string>
</dict>
</plist>